<% # Display the nav %>
<%= render partial: "shared/nav" %>

<% # Display the top-level element %>
<% # TODO: Refactor _items partial to support this kind of single-item view%>
    <% # - item.rank doesn't apply %>
    <% # - item.score_string %>
    <% # - ml-10 on the second row is too far in a single-story item view %>
    <% # - error-prone locals %>
<%= render partial: "shared/items", locals: { items: [ @item ], is_story_view: true } %>

<% # Display the comment tree %>
<div class="mt-2 pr-3 text-hackernews-story-gray">
    <% @item.kids_items.each_with_index do |kid_item, i| %>
        <% next_item = i < @item.kids_items.length - 1 ? @item.kids_items[i+1] : nil %>
        <% prev_item = i > 0 ? @item.kids_items[i-1] : nil %>
        <%= render partial: "shared/comment", locals: { item: kid_item, next_item: next_item, prev_item: prev_item } %>
    <% end %>
</div>

<% # Display the footer %>
