<div class="flex flex-col justify-center m-2">
    <div>
        This page either has not been built yet or cannot be build without
        significant measures, e.g. a local Hacker News database mirror or a full
        authentication API from Y Combinator.
    </div>

    <div class="mt-1">Go <a class="underline" href="javascript:history.back()">back</a>.</div>
</div>
