<% # Locals: { classes, content } %>
<% classes =  { class: "text-white" } if current_page?(controller: "past", action: "index" ) %>
<% content = capture do %>
    <a href=<%= past_path %>>past</a>
<% end %>
<%= render partial: "shared/util/div", locals: { classes: classes, content: content } %>
