<% # Locals: { classes, content } %>
<% content = capture do %>
    <a href=<%= past_path %>>past</a>
<% end %>
<%= render partial: "shared/util/div", locals: { classes: classes, content: content } %>
